/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: calc(100% / 3);
}

/* 
1. tu ngoai vao trong
2. tu tren xuong duoi
3. tu tong quan den chi tiet
*/

/* 
1. vi tri
2. kich thuoc (width, height)
3. mau sac
4. kieu dang (kieu chu)
*/

#main{
/* todo */
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 160px;
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}

#nav .nav-arrowdown {
    font-size: 10px;
}

#header .search-button{
    float: right;
    padding: 0 21px;
}

#header .mobile-menu {
    float: right;
    padding: 0 21px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search-button:hover {
    cursor: pointer;
    background-color: rgb(244, 67, 54);
}

#header .mobile-menu:hover {
    background-color: #ccc;
}

#header .menu-icon:hover {
    color: black ;
}

#header .menu-icon, 
#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/la.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: white;
    text-align: center;
    /* transform: translateX(-50%);
    left: 50%; */
    width: 100%;
}

#slider .test-heading {
    font-weight: 400;
    font-size: 24px;
}

#slider .text-disc {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px black;
}

#content{
    /* height: 5000px; */
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-subheading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    color: #666666;

}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
    /* overflow: hidden; */
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour section  */
.tour-section {
    /* height: 1100px; */
    background-color: black;
}

.ticket-list {
    background-color: white;
    margin-top: 40px;
    list-style-type: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 17px;
}

.ticket-list .quantity {
    color: white;
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

/* place */

.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-ticket {
    color: white;
    background: black;
    text-decoration: none;
    padding: 11px 22px;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    border: none;
}

.place-buy-ticket:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

/* contact */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit {
    background-color: black;
    color: white;
    float: right;
    padding: 10px 15px;
    border: none;
}

.contact-form .form-submit:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a:hover {
    color: gray;
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}


#footer .copyright a:hover{
    cursor: pointer;
}


/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: white;
}

.modal-header .modal-heading-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: white;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #ccc;
    color: black;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket {
    background-color: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    color: white;
    padding: 18px;
}

#buy-ticket:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    position: relative;
}

.modal-footer .close-modal-button {
    text-align: left;
    padding: 9px 23px;
    border: none;
    background-color: rgb(244, 67, 54);
    color: white;
    font-size: 15px;
}

.modal-footer .close-modal-button:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}


.modal-footer .modal-help{
    text-align: right;
    position: absolute;
    top: 10px;
    right: 18px;
}

.modal-footer a {
    color: rgb(33, 150, 243);
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}